.header {
  background: rgb(249, 78, 48);
  background: linear-gradient(180deg, rgb(249, 78, 48) 0%, rgb(255, 100, 51) 100%);
}
.header .header-cnt-top {
  border-bottom: 1px solid #ffb733;
}
@media screen and (max-width: 992px) {
  .header .header-cnt-top {
    flex-direction: column;
  }
  .header .header-cnt-top .header-cnt-top-l {
    margin-bottom: 4px;
  }
}