.header {
  background: rgb(23, 23, 23);
  background: linear-gradient(180deg, rgb(17, 17, 18) 0%, rgb(19, 19, 19) 100%);
}
.header .header-cnt-top {
  border-bottom: 1px solid #ffb733;
}
@media screen and (max-width: 992px) {
  .header .header-cnt-top {
    flex-direction: column;
  }
  .header .header-cnt-top .header-cnt-top-l {
    margin-bottom: 4px;
  }
}