#top{
    text-align: center;
}
/* .cb input {
   width: 250px;
   height: 30px;

} */
.forgotpassword{
   color: rgb(233, 59, 59);
   font-size: 14px;
   padding: 0 30%;
}
.form-group label {
   display: inline-block;
   text-align: left;
   width: 100px;
}
.form-group input{
   width: 280px;
   border: 1px solid rgb(172, 169, 169);
   /* margin-left: 0.2rem; */
   height: 30px;
}
.btn-success{
   color: rgb(38, 38, 250);
} 
.card-footer button{
   /* padding: 2% 5%; */
   margin-right: 14%;
}
/* #top{
   display: flex;
   text-align: center;
}

.card shadow-lg  crd{
   
} */
